<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button class="btn" id="boton">Json</button>
    <table id="tablaCapitulos">
      <thead>
        <tr>
          <th >Codigo Categoria</th>
            <th >Nombre Categoria</th>
            <th >Descripcion Categoria</th>
            <th >Acción</th>
        </tr>
      </thead>

      <tbody  id="tbody">

      </tbody>
    </table>
</body>
<script src="./main.js"></script>
</html>